
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<hr />

<h3 style="text-align:center">Error Occured While Processing Your Request.</h3>
<br />

<h4 style="text-align:center">Please Try Again</h4>

@*<hr />*@
@*<div>
    @Html.ActionLink("Back To List","Displayrecords")
</div>*@